body {
    background-color: aqua;
}
table {
    border: 1px solid;
    color: black;
    border-collapse: collapse;
}
table td {
    border: 1px solid;
    color: black;
    border-collapse: collapse;
}